#question{
    margin-left: 475px;
    margin-top: 145px;
    padding: 5px;
    width: 525px;
}
b{
    margin-left: 595px;
    font-size: 42px;
    margin-top: 60px;
    
}
.option{
    margin-left: 595px;
    padding: 3px;
    margin-top: 35px;
    width: 300px;
}
body{
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}
.createpoll{
    margin-left: 699px;
    width: 100px;
    border-radius: 15px;
    height: 38px;

}


